@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

* {
    list-style-type: none;
    text-decoration: none;
}

body {
    background-image: url("./img/kosmos.png");
    background-size: cover;
    background-position-x: center;
}

.main {
    color: aliceblue;
    font-family: Lato;
    font-style: normal;
    font-weight: 400;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;

}

.film_item {
    background-color: rgba(104, 101, 101, 0.459);
    padding: 20px;
}

span {
    color: rgb(145, 173, 198);
    font-weight: 700;
}


.spinner {
    display: none;
    
    color: white;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.spinner:after {
    animation: changeContent .8s linear infinite;
    display: block;
    content: "⠋";
    font-size: 80px;
}

@keyframes changeContent {

    10% {
        content: "⠙";
    }

    20% {
        content: "⠹";
    }

    30% {
        content: "⠸";
    }

    40% {
        content: "⠼";
    }

    50% {
        content: "⠴";
    }

    60% {
        content: "⠦";
    }

    70% {
        content: "⠧";
    }

    80% {
        content: "⠇";
    }

    90% {
        content: "⠏";
    }
}